* {
  box-sizing: border-box;
}

 /*logo*/
header {
  background-color: #020202;
  padding-top:10px;
  padding-bottom:10px;
  padding-left: auto;
  padding-right: auto;
  margin-right:0px;
  border:0;
}
h1{
  
  color: white;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #020202;
  border: 4px solid white;
  width: 200px;
	height: 100px;
  justify-content: center;
	align-items: center;
	transform: skew(-30deg);
  display: flex;
}

h1 > span {
  text-align: center;
	transform: skew(30deg);
}

header nav {
  display: flex;
  
  margin: 10px;
  
  justify-content: center;

}
header nav ul li:last-child a {
  /* Removes the margin to the right of the last anchor tag 
     so that the nav appears centered. */
  margin-right: 0;
}
header nav ul li a{
  display: flex;
  justify-content: center;
}
header nav ul li a {
  display: flex;
  justify-content: space-around;
  margin: 0 20px 0 0;
}
nav ul{
  display: flex;
  justify-content: space-around;
  color: white;
  text-decoration: none;
  list-style: none;
  padding-inline-start: 0;
}


h2 {
  font-size: 20px;
  margin-left: 70px;
}

h3 {
  margin-left: 70px;
}

h2, h3{
  margin-bottom: 2em;
}

p, ol {
  margin-left: 70px;
  margin-right: 50px;
  font-weight: 600;
}
h4{
  text-align: center;
  font-size: 20px;
}

/*images*/

img{
  border-radius: 20px;
  margin-top: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0;
  margin-bottom: 0;
}

hr {
  margin-top: 0;
  height: 5px;
  background: white;
  border:white;
  padding-top: 0;
}

article {
  margin-top: 50px;
  margin-bottom: 0px;
  padding-top: 0;
  padding-bottom:2px;
}

 nav, h2, h3, h4, p, ul, ol , label{

  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500px;
}

footer {
  margin-top:0;
  text-align: center;
  padding-bottom: 8px;
}
/*--background--*/
body {
background-image: url(images/blueredstripes.jpeg);
background-repeat: no-repeat;
background-attachment: fixed;
background-position: 48% 3%; 
background-size: 900px;
background-color: #020202;
border: 10px solid white;
padding:0;
margin:0;
}


.city{
  margin-bottom: 40px;
}


/*--links--*/

a:link {
  color: white;
}
a:visited{
  color:white;
}
a:hover {
  color:orange;
}
a:active{
  color: orange;
}
img.projects{
  border-radius: none;
}
/* Contact Form Design */



form label {
  display: block;
}

 
form textarea {
  width: 100%;
  
}
form input{
  margin-bottom: 20px;
}
form textarea {
  height: 160px;
}

button {
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 20px;
}
form input[type="radio"]+ label{ 
  display: inline;
  margin-left: 0;
  color: white;;
  font-size: 16px;
}
.radio {
  
  margin-left: 20px;
}
@media all and (min-width: 600px){

  h3 {
    font-size: 40px;
    margin-bottom: 30px;
    
  }
  p {
    margin: 20px;
  }
  header {
    display: flex;
    justify-content: space-between; 

  }

  h1 {

    margin-left: 50px;
  }

  h2{
    font-size: 45px;
  }
  
  h4{
    font-size: 30px;
  }
  header nav {
    padding-top: 100px;
  }

  .group{
    display: flex;
    justify-content: around;
    align-items: flex-start;

  }

  .item{
    margin: 20px;
  }
  .item-left{
    order: 0;
    margin: 20px;
    magrin-left: 20px;
    flex: 2;
  }
  .item-right{
    
    display:flex;
    flex-wrap: nowrap;
   order: 1;
    flex-direction: column;
    justify-content: center;
  }

  .group-about{
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
  }
  ol ul{
    margin-left: 20px;
  }
  #projects p{
    text-align: center;
  }

}